body{
  background-color: green;
}
img{
  width: 100%;
}
#content {
  width: 80%;
  margin: auto;
}
#text{
  background-color: blue;
}
#list{
  background-color: red;
}
#button{
  width: 100%;
}
#content2 {
  width: 10%;
  margin: auto;
